@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

    /* main component */

.main-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #D6A2E8;
    min-height: 35vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.first-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.sec-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.third-row{
    padding-top: 10px;
}

.btn-group{
    padding-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-mid{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
}
.copy-text-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    align-items: center;
    width: 75%;
    background-color: #fff;
    min-height: 7vh;
    border-radius: 10px;
    color: #161659;
    font-weight: 500;
    font-size: 18px;
    background-color: #f5d8ff;
}
.recent-heading{
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}
.recent-tile-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    background-color: #f8e4ff;
    border: 2px solid #f8e4ff;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-tile-text{
    font-size: 18px;
}
.recent-tile-text span{
    margin-left: 10px;
    font-weight: bold;
}

.recent-tile-btn{
    color: #161659;
}

.recent-tile-icon{
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}


.main-page-fotter{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#D6A2E8 ;
    min-height: 10vh;
}

.scan-header{
    width: 100%;
    background-color: #D6A2E8;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scan-camera{
    min-height: 25vh;
   width: 25vh;
    
}

.scan-warning{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.scan-warning-text{
    background-color: #5b5bdb;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #ff4c58;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper span{
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
    color: #161659;
    margin-bottom: 20px;
}

.pay-btn-wrapper{
    background-color: #161659;
    width: 50%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
}
.pay-btn-icon{
    background-color: #fff;
    min-height: 6vh;
    width: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.pay-btn-text{
    font-size: 25px;
    color:#FFF;
    letter-spacing: 5px;
    margin-left: 10px;
}

.pay-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    justify-content: space-between;
    background-color: #f8e4ff;
}

.pay-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #3d5af1;
    color:#0e153a;
    min-height: 7vh;
}

.pay-user-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:5vw;
    padding-left: 5vw;
    align-items: center;
}

.pay-second-sec{
    text-align: center;
    padding: 20px;
}

.pay-info-wrapper h4{
    font-size: 20px;
}
 .pay-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }
.pay-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #3d5af1;
    min-height: 50vh;
    color:white;
    padding-top: 30px;
}

.pay-info-wrapper h6{
    font-size: 15px;
}

.pay-header-text{
    width: 100%;
    text-align: center;
}

.pay-header-text h3{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:white;
}

.history-header{
    background-color: #3d5af1;
    color: #ffff;
}

.history-list h3{
    font-family:  'Poppins', sans-serif; 
    font-weight: bold;
    color:black
}

.history-item-details{
display: flex;
flex-direction: row;
justify-content: space-between;
}